
body {
  background: linear-gradient(to top, #00b500 0%, #000000 100%);
}
h1,
ul {
  border: 2px solid rgb(64, 255, 0);
  background-color: rgb(64, 255, 0, 0.286);
  padding: .5em;
  text-align: center;
  font-family: Courier;
  border-radius: 25px;
  color: white;
  width:auto;
  height:auto;
  font-size: 20px;
}
@keyframes flash {
  from {border: dotted;}
  to {border:groove;}
}
div {
  border: 2px rgb(64, 255, 0);
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: rgba(0, 0, 0, 0.638);
  padding: .5em;
  font-family: monospace;
  color: white;
  border-radius: 25px;
  display:flex;
  width:auto;
  height:auto;
}
ul.a{
    border: 2px solid rgb(2, 0, 70);
    background-color: rgb(16, 0, 192);
    padding: .5em;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
}
li {
  padding: .5em;
  display:inline;
  }
img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
  max-height:100%;
}
img.img {
  width:30%;
  height:auto;
}
a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: black;
  background-color: rgb(64, 255, 0);
  text-decoration: none;
}
a {
text-decoration: none;
color:rgb(210, 210, 210);
font-family: monospace;
}
p {
color:rgb(255, 255, 255);
}
h1{
color:rgb(255, 255, 255);
font-family: Courier;
}
