body {
    background-image: url(backgroundhome.png);
    background-size:cover;
    font-family: 'Comic Sans MS';
    background-color: rgb(45, 45, 45);
    color: #ffffff;

}
h1,
ul {
    padding: .5em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    display:block;
    border: 1px outset;
    border-color: rgb(27, 27, 27);
    background-color: rgba(39, 39, 39, 0.72);
    text-decoration: none;
    padding: 1em;
    text-align: center;
  }
  button {
    color: #000000;
    background-color: #898f94
  }

  p {
  display: inline;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    text-size-adjust:unset;
  }

  div {
  display:ruby;
  padding: .3em;
  }