body {
background: linear-gradient(to top, #ae85c5 0%, #27019b 100%);
font-family: 'Trebuchet MS', 'Garamond', Georgia, 'Times New Roman', serif;
background-color: #27019b;
}
h1, h3{
text-align: center;
color: rgb(255, 255, 255);
}
div {
display: flex;
}
li {
border: 5px double rgb(105, 0, 0);
background-color: rgb(255, 252, 171);
padding: .5em;
color: black;
border-radius: 25px;
display:block;
width:fit-content;
height:fit-content;
}
a {
width: auto;
height: auto;
}