body {
background: linear-gradient(to top, #0900ad 0%, #91a3ea 100%);
font-family: 'Trebuchet MS', 'Garamond', Georgia, 'Times New Roman', serif;
}
h1, h3{
text-align: center;
color: black;
}
div {
border: 2px rgb(4, 0, 255);
background-color: rgba(0, 0, 0, 0.638);
padding: .5em;
color: white;
border-radius: 25px;
display:flex;
width:auto;
height:auto;
}